* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
body{
    height: 100vh;
    width:100vw;
    background-color: black;
    margin:0rem;
    overflow: hidden;
    position: relative;
}

#canvasWrapper {
    position: relative;
    margin: 60px;
    width: calc(100% - 120px);
    height: 60%;
    position: absolute;
    bottom: 150px;
    left: 0;
}
#canvas1 {
    background:rgb(94, 212, 159);
    width: 100%;
    height: 100%;
}
#canvasSettings {
    display:flex;
    justify-content: space-between;
    background:white;
    width: 100%;
    margin-top: 10px;
    height: 180px;
    
}
#canvasSets{
    width: 33%;
    display: flex;
    flex-direction: column;
    align-items: center; /* Center vertically */
    justify-content: center; /* Center horizontally */
    text-align: center; /* Ensures text alignment in the center */
}
.sets {
    width: 100%;
    height: 50%;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center; /* Center content vertically */
}
.plusSign{
    width: 33%;
    display: flex;
    align-items: center; /* Center vertically */
    justify-content: center; /* Center horizontally */
    text-align: center; /* Ensures text alignment in the center */
}
.set1{
    width: 34%;
    height: 100%;
    display: flex;
    flex-direction: column;
}

.set1 #s1, #s2,
.set1 #s3, #s4,
.set1 #s5, #s6,
.set1 #s7, #s8 {
    width: 100%;
    height: 50%; /* Ensures each child takes 50% height of .set1 */
    display: flex;
    align-items: center;
    justify-content: center;
    text-align: center;
}

.minusSign{
    width: 33%;
    display: flex;
    align-items: center; /* Center vertically */
    justify-content: center; /* Center horizontally */
    text-align: center; /* Ensures text alignment in the center */
}


#playButton{
    width: 34%;
    display: flex;
    align-items: center; /* Center vertically */
    justify-content: center; /* Center horizontally */
    text-align: center; /* Ensures text alignment in the center */
}
#playButton button {
    width: 100%;
    height: 100%;
    background: none;
    border: none;
    display: flex;
    align-items: center;
    justify-content: center;
    padding: 0;
}

#playButton svg {
    width: 100%;
    height: 100%;
}

#playButton:hover svg circle{
    stroke: rgb(69, 69, 69);
}
#playButton:hover svg polygon{
    fill: rgb(69, 69, 69);
}
#playButton:hover svg rect {
    fill: rgb(69, 69, 69);
}


#numberDisplay{
    display:flex;
    flex-direction: column;
    background-color: white;
    color:black;
}

#tableSettings{
    position:absolute;
    background: white;
    padding:7px;
    margin:10px;
    border-radius:5%;
    top:15px;
    right:15px;
    
}


#addRowToPyramid,
#addPointToPyramid,
#raiseIndent,
#raiseCirc{
    display: flex;
    border-radius: 50%;
    border: none;
    cursor: pointer;
    padding: 0;
    display: flex;
    align-items: center; /* Vertical centering */
    justify-content: center; /* Horizontal centering */
}

#addRowToPyramid svg,
#addPointToPyramid svg,
#raiseIndent svg,
#raiseCirc svg {
    width: 43px;
    height: 43px;
}

#addRowToPyramid:hover svg rect,
#addPointToPyramid:hover svg rect,
#raiseIndent:hover svg rect,
#raiseCirc:hover svg rect {
    fill: rgb(69, 69, 69);
}

#removeRowFromPyramid,
#removePointFromPyramid,
#reduceIndent,
#reduceCirc {
    display: flex;
    border-radius: 50%;
    border: none;
    cursor: pointer;
    padding: 0;
    display: flex;
    align-items: center; /* Vertical centering */
    justify-content: center; /* Horizontal centering */
}

#removeRowFromPyramid svg,
#removePointFromPyramid svg,
#reduceIndent svg,
#reduceCirc svg {
    width: 43px;
    height: 43px;
}

#removeRowFromPyramid:hover svg rect,
#removePointFromPyramid:hover svg rect,
#reduceIndent:hover svg rect,
#reduceCirc:hover svg rect {
    fill: rgb(69, 69, 69);
}
.headerIndex {
    background-color: rgb(46, 46, 35,0.8);
    position:sticky;
    display: flex;
    align-items: center; /* Center vertically with logocontainer */
    justify-content: space-between; /* Push logocontainer to the left */
    position: relative;
    width: 100%;
    height: 150px; /* Match height with logocontainer */
    z-index: 1;
    opacity: 1; /* Fully visible initially */
}
.header-container {
    background-color: rgb(46, 46, 35,0.8);
    position:sticky;
    display: flex;
    align-items: center; /* Center vertically with logocontainer */
    justify-content: space-between; /* Push logocontainer to the left */
    position: relative;
    width: 100%;
    height: 150px; /* Match height with logocontainer */
    z-index: 1;
    opacity: 1; /* Fully visible initially */
    transition: opacity 2.5s ease; /* Controls the fade duration */
}
.header-container.hidden {
    opacity: 0; /* Faded out */
  }


.nav-links {
    position: absolute;
    align-items: center;
    left: 50%;
    transform: translateX(-50%); /* Center nav-links horizontally */
    display: flex;
    gap: 20px; /* Space between links */
  }

.nav-links a {
    color: #7DDFFC;
    font-size: 1.2rem;
    text-decoration: none;
    padding: 10px 20px;
    
}
.nav-links a:hover {
    color: gold;
    /* font-size: 1.2rem; */
}
.nav-links a.current {
    color: gold !important;
}



#image-track{
    display:flex;
    gap: 3vmin;
    position:absolute;
    left:50%;
    top:84%;
    transform: translate(0%, -50%);
    z-index: 1;
}
#image-track > .image{
    width:18vmin;
    height:24vmin;
    object-fit:cover;
    object-position: 100% 50%;
    transition: transform 0.3s ease; /* Smooth transition for scaling */
    cursor: pointer; /* Change cursor on hover */
}
#image-track > .image:hover {
    transform: scale(1.1); /* Slightly enlarge image on hover */
}




#back1 {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-size: cover;
    background-position: center;
    z-index: -1; /* Ensure background is behind everything */
    transition: background-image 0.3s ease; /* Smooth transition for background */
    background-image: url('./Pildid/P1.jpg');
    pointer-events: none;
    display: none;
}
#back2 {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-size: cover;
    background-position: center;
    z-index: -1; /* Ensure background is behind everything */
    transition: background-image 0.3s ease; /* Smooth transition for background */
    background-image: url('./Pildid/P2.jpg');
    pointer-events: none;
    display:none;
}
#back3 {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-size: cover;
    background-position: center;
    z-index: -1; /* Ensure background is behind everything */
    transition: background-image 0.3s ease; /* Smooth transition for background */
    background-image: url('./Pildid/P3.jpg');
    pointer-events: none;
    display: none;
}
#back4 {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-size: cover;
    background-position: center;
    z-index: -1; /* Ensure background is behind everything */
    transition: background-image 0.3s ease; /* Smooth transition for background */
    background-image: url('./Pildid/P4.jpg');
    pointer-events: none;
    display: none;
}
#back5 {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-size: cover;
    background-position: center;
    z-index: -1; /* Ensure background is behind everything */
    transition: background-image 0.3s ease; /* Smooth transition for background */
    background-image: url('./Pildid/P5.jpg');
    pointer-events: none;
    display: none;
}
#back6 {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-size: cover;
    background-position: center;
    z-index: -1; /* Ensure background is behind everything */
    transition: background-image 0.3s ease; /* Smooth transition for background */
    background-image: url('./Pildid/P6.jpg');
    pointer-events: none;
    display: none;
}
#back7 {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-size: cover;
    background-position: center;
    z-index: -1; /* Ensure background is behind everything */
    transition: background-image 0.3s ease; /* Smooth transition for background */
    background-image: url('./Pildid/P7.jpg');
    pointer-events: none;
    display: none;
}
#back8 {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-size: cover;
    background-position: center;
    z-index: -1; /* Ensure background is behind everything */
    transition: background-image 0.3s ease; /* Smooth transition for background */
    background-image: url('./Pildid/P8.jpg');
    pointer-events: none;
    display: none;
}
.back9 {
    z-index: -1; 
    background-image: url('./Pildid/pyramid_medium.jpg');
    background-size: cover; 
    background-position: center; 
    background-repeat: no-repeat;
}

.mapSearch{
    color:white;
    
    margin:15px;
    padding:5px;
    font-size: larger;
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    gap: 10px;
}

  
.column {
    padding: 10px;
    margin: 0;
    background-color: rgb(46, 46, 35,0.8);
    border-radius: 5%;
}
.column2{
    background-color: transparent;
}


.hovered {
    border: 2px solid red;
}
.clicked {
    border: 2px solid gold;
}



#logocontainer{
    width: 150px;
    height: 150px;
    left:0px;
    display:flex;
    justify-content: center;
    align-items: center;
} 
#logoframe{
    position:relative;
    width:80%;
    height:80%;
    background-color: white;
    clip-path: circle(50%);
}
#sky{
    position:absolute;
    background-color: #7DDFFC;
    width:100%;
    height: 65%;
}
#sand{
    position:absolute;
    background-color: #F0DE75;
    width:100%;
    height: 35%;
    top:65%;
}
#side1{
    position:absolute;
    width:100%;
    height: 65%;
    background-color: white;
    clip-path: polygon(15% 100%, 50% 55%, 60% 100%);
    animation:side1-fade 5s infinite ease-in-out;
}
#side2{
    position:absolute;
    width:100%;
    height: 65%;
    background-color: white;
    clip-path: polygon(60% 100%, 50% 55%, 80% 100%);
    animation:side2-fade 5s infinite ease-in-out;
}
#shadow{
    position: absolute;
    width:100%;
    height: 35%;
    top:65%;
    background-color: black;
    opacity: 20%;
    clip-path: polygon(20% 0%,60% 50%,80% 0%);
    animation: shadow-move 5s infinite ease-in-out;
}
#sun-container{
    position: absolute;
    width:calc(100% + 80px);
    left:-40px;
    height: 65%;
    transform-origin: bottom;
    animation: rotate-sun 5s infinite linear;
}
#sun{
    position: absolute;
    width:35px;
    height: 35px;
    background-color: #FEEF01;
    border-radius: 50%;
    top:100%;
}
@keyframes side1-fade{
    0%{filter:brightness(100%);}
    50%{filter:brightness(90%);}
    100%{filter:brightness(85%);}
}
@keyframes side2-fade{
    0%{filter:brightness(85%);}
    50%{filter:brightness(90%);}
    100%{filter:brightness(100%);}
}
@keyframes shadow-move {
    0% {
        clip-path: polygon(15% 0%, 80% 0%, 120% 45%);
        animation-timing-function: ease-in;
    }
    50% {
        clip-path: polygon(15% 0%, 80% 0%, 20% 10%);
        animation-timing-function: ease-out;
    }
    100% {
        clip-path: polygon(15% 0%, 80% 0%, -20% 45%);
        animation-timing-function: linear;
    }
}

@keyframes rotate-sun {
    0% {
        transform:rotate(0deg);
    }
    50% {
        transform:rotate(90deg);
    }
    100% {
        transform:rotate(180deg);
    }
}