* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
body{
    margin:0px;
    background: rgb(124, 165, 228);
}
#canvas1 {
    position:absolute;
    background:rgb(94, 212, 159);
    top:15px;
    left:15px;
    margin-top:0;
    margin-left:0;

}
#tableSettings{
    position:absolute;
    background: white;
    width:100px;
    height:100px;
    padding:7px;
    margin:10px;
    border-radius:5%;
    bottom:15px;
    right:15px;


}