.canvasWrapper {
    /* height: 500px; */
    margin-top: 20px;
    background-color: lightblue;
    position: relative;
    padding: 0;
    border: none;
    box-sizing: border-box;
}
#playButtonWrapper{
    position: absolute;
    bottom: 10px;
    left: 10px;
    display: flex;
    gap: 10px;
}   
.playButton,
.stopButton {
    background: none; /* No background */
    border: none; /* Remove border */
    cursor: pointer; /* Keep pointer for clickability */
    padding: 0; /* Remove default padding */
}

.playIcon,
.pauseIcon,
.stopIcon {
    display: block;
}
.pauseIcon{
    display: none;
}

.playButton svg {
    width: 100%;
    height: 100%;
}
.stopButton svg {
    width: 100%;
    height: 100%;
}

.playButton:hover svg circle{
    stroke: rgb(69, 69, 69);
}
.playButton:hover svg polygon{
    fill: rgb(69, 69, 69);
}
.playButton:hover svg rect {
    fill: rgb(69, 69, 69);
}

.stopButton:hover svg circle{
    stroke: rgb(69, 69, 69);
}
.stopButton:hover svg polygon{
    fill: rgb(69, 69, 69);
}
.stopButton:hover svg rect {
    fill: rgb(69, 69, 69);
}