body{
    margin:0px;
    background: rgb(0, 0, 0);
}
#canvas1 {
    position:absolute;
    background:rgb(255, 255, 255);
    top:0;
    left:0;
    margin-top:0;
    margin-left:0;

}
#tableSettings{
    position:absolute;
    background: white;
    width:100px;
    height:70px;
    padding:7px;
    margin:100px;
    border-radius:5%;
    display:none;

}