body{
    margin:0px;
    background: black;
}
#canvas1 {
    position:absolute;
    background:rgb(94, 212, 159);
    top:0;
    left:0;
    margin-top:0;
    margin-left:0;

}
#tableSettings{
    position:absolute;
    background: white;
    width:100px;
    height:100px;
    padding:7px;
    margin:10px;
    border-radius:5%;


}