* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
body{
    height: 100vh;
    width:100vw;
    background-color: black;
    margin:0rem;
    overflow: hidden;
    position: relative;
}

#canvasWrapper {
    position: relative;
    margin: 60px;
    width: calc(100% - 120px);
    height: 60%;
    position: absolute;
    bottom: 150px;
    left: 0;
}
#canvas1 {
    background:rgb(94, 212, 159);
    width: 100%;
    height: 100%;
}

#playButton{
    width: 34%;
    display: flex;
    align-items: center; /* Center vertically */
    justify-content: center; /* Center horizontally */
    text-align: center; /* Ensures text alignment in the center */
}
#playButton button {
    width: 100%;
    height: 100%;
    background: none;
    border: none;
    display: absolute;
    align-items: center;
    justify-content: center;
    padding: 0;
    margin-top: 325px;
    margin-left:40px;
}

#playButton svg {
    width: 100%;
    height: 100%;
}

#playButton:hover svg circle{
    stroke: rgb(69, 69, 69);
}
#playButton:hover svg polygon{
    fill: rgb(69, 69, 69);
}
#playButton:hover svg rect {
    fill: rgb(69, 69, 69);
}